<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Post CR | Dashboard</title>
</head>
<body>
    <div class="main-container bg-gray-900 min-w-screen min-h-screen text-white">
        <div class="user-heading p-5">
            <h3 class="text-4xl tracking-tight mb-4">Welcome Mazahir !</h3>
            <h3 class="text-3xl tracking-tight">Create Post </h3>
            <p class="text-lg text-gray-400 w-90 tracking-tight">Create a memory or view the beautiful memories. All of your past in your own posts.</p>
            <div class="create-post-form mt-4 mb-4">
                <form action="" class="flex gap-2">
                    <input type="text" placeholder="Title" class="p-2 outline-none border rounded border-gray-400">
                    <input type="text" placeholder="Description" class="p-2 outline-none border rounded border-gray-400">
                    <input type="text" placeholder="Image Url" class="p-2 outline-none border rounded border-gray-400">
                    <input type="button" value="Create Post" class="border border-gray-400 rounded bg-orange-400 p-2">
                </form>
            </div>
            <h3 class="text-3xl tracking-tight mb-4">All Posts</h3>
            <div class="posts-container flex gap-4 flex-wrap">
                <div class="post bg-zinc-600 w-80 p-3 rounded-lg">
                    <img src="" alt="post_img" class="rounded-lg bg-gray-900 h-40">
                    <h3 class="text-lg tracking-tight">Startup Launch</h3>
                    <p class="tracking-tight text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati recusandae voluptas officiis! Amet reiciendis quas eaque, porro repellendus sit possimus!</p>
                </div>
                <div class="post bg-zinc-600 w-80 p-3 rounded-lg">
                    <img src="" alt="post_img" class="rounded-lg bg-gray-900 h-40">
                    <h3 class="text-lg tracking-tight">Startup Launch</h3>
                    <p class="tracking-tight text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati recusandae voluptas officiis! Amet reiciendis quas eaque, porro repellendus sit possimus!</p>
                </div>
                <div class="post bg-zinc-600 w-80 p-3 rounded-lg">
                    <img src="" alt="post_img" class="rounded-lg bg-gray-900 h-40">
                    <h3 class="text-lg tracking-tight">Startup Launch</h3>
                    <p class="tracking-tight text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati recusandae voluptas officiis! Amet reiciendis quas eaque, porro repellendus sit possimus!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>